.gitattributes abmmhasan@users.noreply.github.com
.github/CODEOWNERS abmmhasan@users.noreply.github.com
.github/dependabot.yml abmmhasan@users.noreply.github.com
.github/workflows/build.yml abmmhasan@users.noreply.github.com
.gitignore abmmhasan@users.noreply.github.com
LICENSE abmmhasan@users.noreply.github.com
README.md abmmhasan@users.noreply.github.com
SECURITY.md abmmhasan@users.noreply.github.com
captainhook.json abmmhasan@users.noreply.github.com
composer.json abmmhasan@users.noreply.github.com
phpunit.xml abmmhasan@users.noreply.github.com
pint.json abmmhasan@users.noreply.github.com
rector.php abmmhasan@users.noreply.github.com
src/Common.php abmmhasan@users.noreply.github.com
src/Exceptions/OCRAException.php abmmhasan@users.noreply.github.com
src/HOTP.php abmmhasan@users.noreply.github.com
src/OCRA.php abmmhasan@users.noreply.github.com
src/OTP.php abmmhasan@users.noreply.github.com
src/TOTP.php abmmhasan@users.noreply.github.com
tests/ArchTest.php abmmhasan@users.noreply.github.com
tests/GenericOTPTest.php abmmhasan@users.noreply.github.com
tests/HOTPTest.php abmmhasan@users.noreply.github.com
tests/OCRATest.php abmmhasan@users.noreply.github.com
tests/TOTPTest.php abmmhasan@users.noreply.github.com
